:root {
    --accent-2: hsl(231, 37%, 54%);
    --accent: #ffd959;
    --accent-light: rgb(224, 204, 250);
    --accent-dark: hsl(242, 23%, 25%);
    --accent-gradient: linear-gradient(45deg,
            var(--accent),
            var(--accent-light) 30%,
            white 60%);
    --neutral: hsl(32, 27%, 92%);
    --neutral-dark: hsl(231, 37%, 14%);
    --surface: hsl(219, 11%, 74%);
    --primary: #4c3d3d;
    --secondary: hsl(204, 100%, 92%);
    --tertiary: hsl(231, 37%, 54%);
    --header-height: 8rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.content-grid,
.full-width {
    --min-padding-inline: 2rem;
    --padding-inline: minmax(var(--min-padding-inline), 1fr);
    --content-width: min(100% - (var(--min-padding-inline) * 2), 1000px);
    display: grid;
    grid-template-columns: [full-width-start] var(--padding-inline) [content-start] var(--content-width) [content-end] var(--padding-inline) [full-width-end];
}

.content-grid>*,
.full-width>* {
    grid-column: content;
}

.content-grid {
    >.full-width {
        grid-column: full-width;
    }
}

html {
    scroll-behavior: smooth;
}