:root {
    --primary: #4c3d3d;
    --secondary: hsl(204, 100%, 92%);
    --tertiary: hsl(231, 37%, 54%);
    --accent: navy;
    --accent-lighter: #FFD93D;

    --outline: hsl(206, 7%, 20%);
    --outline-variant: hsl(0, 0%, 90%);

    --neutral: hsl(0, 0%, 100%);
    --surface: #1d1d1d;

    --header-height: 8rem;
}