.grid-container,
.grid-container--inset-content {
    --padding-inline: clamp(1rem, 4vw, 4rem);
    --inset-max-width: 1440px;
    --narrow-max-width: 1000px;
    --narrow2inset-gap: calc((var(--inset-max-width) - var(--narrow-max-width)) / 2);
}

.grid-container,
.grid-container--inset-content {
    display: grid;
    grid-template-columns:
        [full-start] minmax(var(--padding-inline), 1fr) [inset-start] minmax(0, var(--narrow2inset-gap)) [narrow-start] min(100% - (var(--padding-inline) * 2), var(--narrow-max-width)) [narrow-end] minmax(0, var(--narrow2inset-gap)) [inset-end] minmax(var(--padding-inline), 1fr) [full-end];

    &>*:not(.inset) {
        grid-column: inset;
    }
}

.grid-container--inset-content {
    --padding-inline: 1rem;
}

.grid-container .grid-column--inset {
    grid-column: inset;
}

.grid-container .grid-column--narrow {
    grid-column: narrow;
}

.grid-container .full {
    grid-column: full;
}

body {
    --section-padding-block: clamp(3rem, 5vw, 6rem);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

section {
    padding-block: var(--section-padding-block);
    scroll-margin: var(--section-padding-block) 0;
}

.cta-group {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1rem, 3.2vw, 2rem);
    margin-block-start: 1.5rem;
}

.mb-2 {
    margin-block-end: 2rem;
}