:root {
    --primary-font: 'Inter Variable', sans-serif;
    --secondary-font: 'Roboto Serif Variable', serif;
    --secondary-font: 'Source Serif 4 Variable', serif;
    --secondary-font: 'Noto Serif Variable', serif;
}

.display-lg {
    font-family: var(--secondary-font);
    font-size: 7.5rem;
    font-size: clamp(3rem, 8vw, 7.5rem);
    font-weight: 350;
    line-height: 1.1;
    text-wrap: balance;
}

.display-sm {
    font-family: var(--secondary-font);
    font-size: 3.5rem;
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 350;
    line-height: 1.1;
    text-wrap: balance;
}

.heading-lg {
    font-family: var(--secondary-font);
    font-size: 4rem;
    font-size: clamp(2.5rem, 4vw, 3.2rem);
    font-weight: normal;
    line-height: 1.2;
    text-wrap: balance;
}

.heading-md {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.2;
    text-wrap: balance;
}

.body-xl {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    font-weight: 300;
    line-height: 1.75;
}

.body-lg {
    font-family: var(--primary-font);
    font-size: 1.125rem;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    font-weight: 300;
    line-height: 1.5;
}

p,
.body-md {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-size: clamp(0.95rem, 1.25vw, 1rem);
    font-weight: 300;
    line-height: 1.5;
}

small,
.body-sm {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}

.body-xs {
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.5;
}

.title-lg {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: semibold;
    line-height: 1.5;
    text-wrap: balance;
}

.title-md {
    font-family: var(--secondary-font);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5;
}