---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Berrotte Consultancy Associates">
  <main class="grid-container bg-secondary">
    <section class="grid-column--narrow">
      <h1 class="heading-lg mb-2">Bio: Carole M. Berotte Joseph, PhD.</h1>
      <p class="body-md">
        I am a seasoned academic servant leader with over 40 years’ experience
        managing higher education institutions and educational programs. I am a
        collaborative, consultative leader committed to building consensus
        across diverse constituencies. Most recently, I served as President and
        CEO of Bronx Community College (BCC) where I strategically scaled
        institutional impact, forging new community partnerships by positioning
        and marketing BCC as a solutions-oriented partner. My vast background in
        academia has provided me with an extensive network, grant writing and
        fundraising experiences, strategic approaches toward business
        development, and leadership of a diverse workforce. Notable achievements
        include student-centered leadership, mentoring and developing hundreds
        of team members for leadership positions, managing budgets of over $80
        million, and creating robust study & research abroad programs where
        students and faculty collaborated on research and scholarly projects. I
        led the efforts to advocate for and establish the CUNY Haitian Studies
        Institute. I am honored to have received awards and recognition from the
        US Ambassador to Haiti with the “Haitian American Connections Award”,
        NYC Haitian Educators Association, the NYS Bilingual Educator of the
        Year and the Gandhi Award for Excellence, among others.
      </p>
    </section>
  </main>
</Layout>
