---
import Layout from "@layouts/Layout.astro";
---

<Layout title="BCA Design">
  <main class="content-grid">
    <section>
      <div>Display Large</div>
      <h1 class="display-lg">BEROTTE CONSULTANCY ASSOCIATES</h1>
      <div>Heading Large</div>
      <h2 class="heading-lg">Meet our Founder and CEO</h2>
      <div>Heading Medium</div>
      <h3 class="heading-md">Meet our Founder and CEO</h3>
      <div>Heading Small</div>
      <h4 class="heading-sm">Meet our Founder and CEO</h4>
      <div>Body Extra Large</div>
      <p class="body-xl">
        Berotte Consultancy Associates is a global consulting firm that provides
        a wide range of services to a diverse group of clients. We are a team of
        professionals who are dedicated to providing our clients with the best
        possible service. Our goal is to help our clients achieve their goals
        and objectives by providing them with the highest quality consulting
        services.
      </p>
      <div>Body Large</div>
      <p class="body-lg">
        Berotte Consultancy Associates is a global consulting firm that provides
        a wide range of services to a diverse group of clients. We are a team of
        professionals who are dedicated to providing our clients with the best
        possible service. Our goal is to help our clients achieve their goals
        and objectives by providing them with the highest quality consulting
        services.
      </p>
      <div>Body Medium</div>
      <p class="body-md">
        Berotte Consultancy Associates is a global consulting firm that provides
        a wide range of services to a diverse group of clients. We are a team of
        professionals who are dedicated to providing our clients with the best
        possible service. Our goal is to help our clients achieve their goals
        and objectives by providing them with the highest quality consulting
        services.
      </p>
      <div>Body Small</div>
      <p class="body-sm">
        Berotte Consultancy Associates is a global consulting firm that provides
        a wide range of services to a diverse group of clients. We are a team of
        professionals who are dedicated to providing our clients with the best
        possible service. Our goal is to help our clients achieve their goals
        and objectives by providing them with the highest quality consulting
        services.
      </p>
    </section>
  </main>
</Layout>
<style>
  div:nth-child(odd) {
    margin-top: 2rem;
    padding-block: 1rem;
    border-top: 2px double var(--neutral-50);
    color: var(--neutral-30);
  }
</style>
