---
import Layout from "@layouts/Layout.astro";
import Button from "@components/Button.astro";
import Badge from "@components/Badge.astro";
---

<Layout title="BCA Design">
  <main class="inset-content">
    <section>
      <a class="title-md" href="/">Home</a>
    </section>
    <section class="typography">
      <h2 class="heading-md"><a href="#">Typography</a></h2>
      <div>Display Large</div>
      <h1 class="display-lg">BEROTTE CONSULTANCY ASSOCIATES</h1>
      <div>Heading Large</div>
      <h2 class="heading-lg">Meet our Founder and CEO</h2>
      <div>Heading Medium</div>
      <h3 class="heading-md">Meet our Founder and CEO</h3>
      <div>Heading Small</div>
      <h4 class="heading-sm">Meet our Founder and CEO</h4>
      <div>Body Extra Large</div>
      <p class="body-xl">
        Berotte Consultancy Associates is a global consulting firm that provides
        a wide range of services to a diverse group of clients. We are a team of
        professionals who are dedicated to providing our clients with the best
        possible service. Our goal is to help our clients achieve their goals
        and objectives by providing them with the highest quality consulting
        services.
      </p>
      <div>Body Large</div>
      <p class="body-lg">
        Berotte Consultancy Associates is a global consulting firm that provides
        a wide range of services to a diverse group of clients. We are a team of
        professionals who are dedicated to providing our clients with the best
        possible service. Our goal is to help our clients achieve their goals
        and objectives by providing them with the highest quality consulting
        services.
      </p>
      <div>Body Medium</div>
      <p class="body-md">
        Berotte Consultancy Associates is a global consulting firm that provides
        a wide range of services to a diverse group of clients. We are a team of
        professionals who are dedicated to providing our clients with the best
        possible service. Our goal is to help our clients achieve their goals
        and objectives by providing them with the highest quality consulting
        services.
      </p>
      <div>Body Small</div>
      <p class="body-sm">
        Berotte Consultancy Associates is a global consulting firm that provides
        a wide range of services to a diverse group of clients. We are a team of
        professionals who are dedicated to providing our clients with the best
        possible service. Our goal is to help our clients achieve their goals
        and objectives by providing them with the highest quality consulting
        services.
      </p>
    </section>
    <section class="inset">
      <h2 class="heading-md"><a href="#">Buttons</a></h2>
      <Button href="/#services">Explore Services</Button>
      <Button href="/#contact" variant="secondary">Contact Us</Button>
    </section>
    <section class="inset">
      <h2 class="heading-md"><a href="#">Badge</a></h2>
      <Badge variant="primary">Featured</Badge>
      <Badge variant="secondary">Featured</Badge>
      <Badge variant="tertiary">Featured</Badge>
    </section>
    <style>
      .typography div:nth-child(2n) {
        margin-top: 2rem;
        padding-block: 1rem;
        border-top: 2px double var(--neutral-50);
        color: var(--neutral-30);
      }
      h2:has(a) {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      a {
        color: var(--primary);
      }
    </style>
  </main>
</Layout>
