---
import Layout from "@layouts/Layout.astro";
import About from "@sections/about.astro";
import Services from "@sections/services.astro";
import MainBanner from "@sections/main-banner.astro";
import MissionVision from "@sections/mission-vision.astro";
---

<Layout title="Berrotte Consultancy Associates">
  <main class="content-grid">
    <MainBanner />
    <About />
    <MissionVision />
    <Services />
  </main>
</Layout>
