---
import Layout from "@layouts/Layout.astro";
import MainBanner from "@sections/hero.astro";
import WhyUs from "@sections/why-us.astro";
import Founder from "@sections/founder.astro";
import MissionVision from "@sections/mission-vision.astro";
import Blogs from "@sections/blogs.astro";
import Services from "@sections/services.astro";
import Videos from "@sections/videos.astro";
import Contact from "@sections/contact.astro";
---

<Layout title="Berrotte Consultancy Associates">
  <main>
    <MainBanner />
    <WhyUs />
    <Founder />
    <MissionVision />
    <Services />
    <Blogs />
    <Videos />
  </main>
</Layout>
