---
import Layout from "@layouts/Layout.astro";
import MainBanner from "@sections/hero.astro";
import Founder from "@sections/founder.astro";
import MissionVision from "@sections/mission-vision.astro";
import Blogs from "@sections/blogs.astro";
---

<Layout title="Berrotte Consultancy Associates">
  <main>
    <MainBanner />
    <Founder />
    <MissionVision />
    <Blogs />
  </main>
</Layout>
