---
interface Props {
  href: string;
  className?: string;
  variant?: "primary" | "secondary";
}
const { href, className = "", variant = "primary", ...rest } = Astro.props;
---

<a class:list={[variant, className, "body-lg"]} {href} {...rest}>
  <slot>Learn more</slot>
</a>

<style>
  a {
    display: inline-block;
    padding: clamp(0.5rem, 2vw, 0.75rem) clamp(0.75rem, 3vw, 1.5rem);
    border: 1px solid transparent;
    width: max-content;
    height: max-content;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 0.375rem;
  }

  a.primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--neutral-100);
  }
  a.secondary {
    border-color: var(--primary);
    color: var(--primary);
  }

  /* Hover effects */
  a.primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--neutral-100);
  }

  a.secondary:hover {
    background-color: var(--primary-light);
    border-color: var(--primary);
    color: var(--primary);
  }
</style>
