---
import { YouTube } from "astro-embed";
interface Props {
  title: string;
  description: string;
  id: string;
  date: Date;
}
const { title, description, id, date } = Astro.props;
---

<article>
  <YouTube {id} />
  <div class="card-content">
    <hgroup>
      <p class="body-xs">
        {
          date.toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })
        }
      </p>
      <h3 class="title-md">{title}</h3>
    </hgroup>
    <p class="body-md">{description}</p>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
  }
  hgroup {
    max-width: min(90%, 42rem);
    margin-bottom: 0.5rem;
    & > h3 {
      margin-top: 0.25rem;
    }
  }
  .card-content {
    --_text-color: var(--text-color, var(--neutral-10));
    padding-block: 1.5rem;
    border-bottom: 1px solid var(--_text-color);
    color: var(--_text-color);
    flex: 1;
  }
</style>
