<section id="about">
  <h1>Meet the Founder and CEO</h1>
  <p>
    Dr. Carole Berotte Joseph is a seasoned professional with over 40 years of
    experience leading & managing educational institutions and developing
    programs. Through our organizational management consultant group, Berotte
    Consultancy Associates work collaboratively with a host of other experienced
    professionals and subject matter experts to support organizations, to
    respond to their missions. We are master facilitators and experts in
    capacity building, governance development, sustainability, day-to-day
    management, operational goal setting, strategic planning, leadership
    coaching, and performance improvement. We are passionate about connecting &
    developing ideas, people and entities to full implementation of their
    potential and support them in making the systemic change that will disrupt
    the status quo.
  </p>
</section>
