---
const aboutItems = [
  {
    title: "Who are we?",
    content:
      "At Berotte Consultancy Associates, we're dedicated to transforming the educational landscape. Our mission is to steward the development of educational environments where students are at the heart of learning—ensuring every institution we touch fosters innovation, engagement, and equity. Our vision is to be at the forefront of creating equitable, engaging, and effective learning environments worldwide.",
  },
  {
    title: "What do we do?",
    content:
      "We provide a range of services to educational institutions, including strategic planning, professional development, and curriculum design. Our team of experts is dedicated to ensuring that every student has access to a high-quality education that prepares them for success in the 21st century.",
  },
  {
    title: "Why choose us?",
    content:
      "We have a proven track record of success in transforming educational institutions. Our team of experts has decades of experience in the field and is dedicated to ensuring that every student has access to a high-quality education. We are committed to creating equitable, engaging, and effective learning environments that prepare students for success in the 21st century.",
  },
];
---

<section id="about" class="content-grid">
  <div class="inset">
    {
      aboutItems.map((item) => {
        return (
          <div class="about-item">
            <h2 class="heading-md">
              {item.title}
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" />
              </svg>
            </h2>
            <p class="body-lg">{item.content}</p>
          </div>
        );
      })
    }
    <svg
      width="313"
      height="251"
      viewBox="0 0 313 251"
      fill="none"
      class="stacked-books"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M77.5828 22.4089H42.0696V246.689H77.5828V22.4089Z"
        fill="#FFDA5B"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M77.5828 29.4785H42.0696V38.7169H77.5828V29.4785Z"
        fill="white"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M77.5828 231.863H42.0696V241.101H77.5828V231.863Z"
        fill="white"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M137.997 11.9453H78.6094V247.558H137.997V11.9453Z"
        fill="white"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M150.687 7.25165H140.431V246.68H150.687V7.25165Z"
        fill="white"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M78.6093 9.51984H78.601C77.2615 9.51984 76.1755 10.6058 76.1755 11.9453V247.384C76.1755 248.724 77.2615 249.81 78.601 249.81H78.6093C79.9489 249.81 81.0348 248.724 81.0348 247.384V11.9453C81.0348 10.6058 79.9489 9.51984 78.6093 9.51984Z"
        fill="#664C43"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M138.005 9.51984H137.997C136.657 9.51984 135.571 10.6058 135.571 11.9453V247.384C135.571 248.724 136.657 249.81 137.997 249.81H138.005C139.345 249.81 140.431 248.724 140.431 247.384V11.9453C140.431 10.6058 139.345 9.51984 138.005 9.51984Z"
        fill="#664C43"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M8.02974 9.10596H8.02145C6.79161 9.10596 5.79468 10.1029 5.79468 11.3328V248.063C5.79468 249.293 6.79161 250.29 8.02145 250.29H8.02974C9.25958 250.29 10.2566 249.293 10.2566 248.063V11.3328C10.2566 10.1029 9.25958 9.10596 8.02974 9.10596Z"
        fill="white"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M39.8592 11.8874H10.7615V246.622H39.8592V11.8874Z"
        fill="#E6E7E8"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M39.8674 9.10596H39.8591C38.6293 9.10596 37.6323 10.1029 37.6323 11.3328V248.063C37.6323 249.293 38.6293 250.29 39.8591 250.29H39.8674C41.0973 250.29 42.0943 249.293 42.0943 248.063V11.3328C42.0943 10.1029 41.0973 9.10596 39.8674 9.10596Z"
        fill="white"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M199.139 20.6954H150.662V246.821H199.139V20.6954Z"
        fill="#664C43"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M199.139 36.2418H150.662V49.8759H199.139V36.2418Z"
        fill="#FFDA5B"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M199.139 218.369H150.662V232.003H199.139V218.369Z"
        fill="#FFDA5B"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M199.139 210.331H150.662V215.513H199.139V210.331Z"
        fill="#FFDA5B"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M166.506 66.3494H161.54V193.005H166.506V66.3494Z"
        fill="#FFDA5B"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M183.891 66.3494H178.924V193.005H183.891V66.3494Z"
        fill="#FFDA5B"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M279.942 17.3924H307.508L231.126 242.608H203.593L279.942 17.3924Z"
        fill="#E6E7E8"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M202.649 247.798L199.503 246.763L280.439 11.5894L283.585 12.6159L202.649 247.798Z"
        fill="white"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
      <path
        d="M230.795 250.281L227.649 249.247L308.584 14.0729L311.73 15.0994L230.795 250.281Z"
        fill="white"
        stroke="#45413F"
        stroke-miterlimit="10"></path>
    </svg>
    <div class="ruler">
      {
        Array.from({ length: 25 }, (_, i) => (
          <svg
            width="110"
            height="50"
            viewBox="0 0 110 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="ruler-segment"
          >
            {Array.from({ length: 5 }, (_, i) => (
              <line y1={i * 8} x2="40" y2={i * 8} stroke="black" />
            ))}
            <line y1={5 * 8} x2="80" y2={5 * 8} stroke="black" />
            <text
              x={80 + 10}
              y="40"
              font-size="14"
              fill="black"
              alignment-baseline="middle"
            >
              {i + 1}
            </text>
          </svg>
        ))
      }
    </div>
  </div>
  <svg class="vertical-line" viewBox="0 0 1 1">
    <line x1="50%" y1="0" x2="50%" y2="100%" stroke="black"></line>
  </svg>
</section>

<style>
  section#about {
    position: relative;
    overflow: hidden;
  }
  section#about > .inset > .ruler {
    position: absolute;
    top: 50%;
    right: 4.5rem;
    border: 1px solid black;
    border-left: none;
    padding-inline-end: 0.5rem;
    padding-block: 0.5rem;
    height: 100%;
    object-fit: cover;
    display: grid;
    grid-auto-rows: auto;
    overflow-y: hidden;
    transform: translateX(100%) translateY(-50%);
  }

  section#about > .vertical-line {
    position: absolute;
    top: 0;
    right: 4.5rem;
    width: 1px;
    height: 100%;
    background-color: black;
  }

  section#about .inset {
    position: relative;
  }
  .about-item {
    --_item-padding-left: clamp(1rem, 2vw, 2rem);
    --_svg-size: clamp(1rem, 2vw, 1.5rem);
    max-width: 70%;
    @media screen and (max-width: 680px) {
      max-width: 90%;
    }
  }

  .about-item > h2 {
    position: relative;
    padding-left: var(--_item-padding-left);
    border-left-style: solid;
    border-left-width: 2px;
  }

  .about-item:first-of-type > h2 {
    border-image: linear-gradient(
        to top,
        var(--primary),
        var(--primary) 50%,
        transparent 50%,
        transparent
      )
      2;
  }

  .about-item:not(:first-of-type) > h2 {
    border-left-color: var(--primary);
  }

  .body-lg {
    padding-left: var(--_item-padding-left);
    border-left: 2px solid var(--primary);
    padding-top: 1rem;
  }

  .about-item > .body-lg {
    padding-bottom: 3rem;
  }

  .about-item:nth-last-of-type(2) > .body-lg {
    padding-bottom: 0;
  }
  .about-item > h2 > svg {
    width: var(--_svg-size);
    height: var(--_svg-size);
    fill: var(--primary);
    position: absolute;
    top: 50%;
    left: calc(-1 * var(--_svg-size) / 2);
    transform: translateY(-50%);
  }
  svg.stacked-books {
    position: absolute;
    right: 4.5rem;
    bottom: 0;
    width: clamp(10rem, 18vw, 20rem);
    aspect-ratio: 310 / 250;
    height: auto;
    @media screen and (max-width: 860px) {
      display: none;
    }
  }
  section#about > .inset > .ruler,
  section#about > .vertical-line {
    @media screen and (max-width: 680px) {
      display: none;
    }
  }
</style>
