---
import { getCollection } from "astro:content";
import Card from "@components/Card.astro";
import VideoCard from "@components/VideoCard.astro";
const blogEntries = await getCollection("blogs");
const featuredBlog = blogEntries.shift();
---

<section id="articles" class="content-grid">
  <h1 class="inset heading-lg">In the Press</h1>
  <div class="inset blogs">
    {featuredBlog &&
    <div class="featured-blog">
      <Card
        title={featuredBlog.data.title}
        meta={featuredBlog.data.pubDate.toDateString() || "Published"}
        href={featuredBlog.data.url || featuredBlog.slug}
        image={featuredBlog.data.image}
        layout="portrait",
      >
      {featuredBlog.data.excerpt || "Read More"}
      </Card>
    </div>
    }
    <div class="blogs-list">
      {
        blogEntries.map((blogPostEntry) => (
          <Card
            title={blogPostEntry.data.title}
            meta={blogPostEntry.data.pubDate.toDateString() || "Published"}
            href={blogPostEntry.data.url || blogPostEntry.slug}
            image={blogPostEntry.data.image}
            layout="landscape",
          >
          <p class="body-sm">{blogPostEntry.data.excerpt || "Read More"}</p>
          </Card>
          <hr />
        ))
      }
    </div>
  </div>
  <div class="inset video-carousel">
    <VideoCard
      title="Bronx Community College: Defining What Matters."
      description="Science, technology majors, engineering, and mathematics are among the most in-demand courses of study at Bronx Community College. President Carole M. Berotte Joseph talks STEM with a current student, an alum, and the chair of the BCC Chemistry department."
      date={new Date("September 17, 2014")}
      id="CEKxhowaqdQ"
      />
    <VideoCard
      title="Bronx Community College: Defining What Matters."
      description="Science, technology majors, engineering, and mathematics are among the most in-demand courses of study at Bronx Community College. President Carole M. Berotte Joseph talks STEM with a current student, an alum, and the chair of the BCC Chemistry department."
      date={new Date("September 17, 2014")}
      id="CEKxhowaqdQ"
      />
  </div>
</section>

<style>
  section#articles {
    background-color: var(--bg-gray);
  }
.heading-lg {
    color: var(--primary);
    margin-bottom: clamp(1rem, 5vw, 2rem);
  }
  .blogs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(1rem, 5vw, 3rem);
  }
  .featured-blog {
    flex: 1 1 26rem;
  }
  .blogs-list {
    flex: 10 2 50%;
    min-width: 36rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }
  hr {
    border: 0;
    height: 1px;
    background: var(--primary);
    opacity: 0.5;
  }
  .video-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: clamp(1rem, 5vw, 3rem);
    margin-block-start: 2rem;
  }
</style>
