---
import { CONTACT } from "@config";
import { SOCIALS } from "@config";
import { Icon } from "astro-icon/components";
---

<section id="contact" class="grid-container">
  <div class="two-col">
    <div>
      <h2 class="heading-lg">Contact Us</h2>
      <div class="socials">
        {
          SOCIALS.map((social) => {
            return (
              <a href={social.href}>
                <Icon name={social.icon.name} />
                <span class="body-xl">{social.text}</span>
              </a>
            );
          })
        }
      </div>
    </div>
    <form action="submit">
      <fieldset>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          required
          class="body-lg"
        />
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
          class="body-lg"
        />
        <label for="message">Message</label>
        <textarea
          id="message"
          name="message"
          placeholder="Message"
          required
          class="body-lg"></textarea>
        <button>
          <span class="body-xl">Send</span>
        </button>
      </fieldset>
    </form>
  </div>
</section>

<style>
  #contact {
    --_icon-size: 2rem;
  }
  #contact h2 {
    color: var(--primary);
    margin-bottom: clamp(1rem, 4vw, 2rem);
  }
  .two-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 2rem 1rem;
  }
  .socials > :not(:last-child) {
    margin-bottom: 1.125rem;
    margin-bottom: clamp(1.125rem, 3.5vw, 1.5rem);
  }
  .socials {
    display: flex;
    flex-direction: column;
  }
  .socials a {
    display: flex;
    align-items: end;
    gap: 1rem;
    gap: clamp(0.5rem, 1.5vw, 1rem);
    & > span {
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease;
      line-height: 1.1;
    }
    &:is(:hover, :focus, :focus-within) {
      outline: none;
      color: var(--primary);
      & > span {
        border-bottom: 2px solid var(--primary);
      }
    }
  }

  .socials svg {
    width: var(--_icon-size);
    height: var(--_icon-size);
    stroke: var(--primary);
    stroke-width: 3;
  }
  fieldset {
    --_form-border: 1px solid var(--primary);
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    border-radius: 0.5rem;
    border: none;
    border-inline: var(--_form-border);
  }
  fieldset > label {
    display: none;
  }
  fieldset > :is(input, textarea) {
    padding: 1rem;
    border: none;
    border-bottom: var(--_form-border);
  }
  fieldset > input:first-of-type {
    border-top: var(--_form-border);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  fieldset > button {
    color: var(--primary);
    background-color: var(--tertiary);
    padding-block: 1rem;
    cursor: pointer;
    border: none;
    border-bottom: var(--_form-border);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: background-color 0.3s ease;
    &:hover,
    &:focus {
      outline: none;
      background-color: var(--primary);
      color: var(--secondary);
    }
  }
  fieldset > :is(input, textarea) {
    &:focus {
      outline: none;
      background-color: var(--neutral-95);
    }
    &:hover {
      outline: none;
      background-color: var(--secondary);
    }
  }

  fieldset > textarea {
    resize: vertical;
    height: 8rem;
    min-height: 8rem;
  }
</style>
