---
import { SOCIALS } from "@config";
import { Icon } from "astro-icon/components";
---

<footer class="content-grid">
  <h6 class="display-sm">Berotte Consultancy Associates</h6>
  <nav>
    <div class="socials">
      {
        SOCIALS.map((social) => {
          console.log(social.icon.pack);
          return (
            <a href={social.href}>
              <Icon name={social.icon.name} />
            </a>
          );
        })
      }
    </div>
    <div class="links">
      <a href="#about">About</a>
      <a href="#press">Services</a>
      <a href="#press">Press</a>
    </div>
  </nav>

  <style>
    footer {
      background-color: color-mix(in srgb, var(--primary) 10%, #45413f 90%);
      color: var(--secondary);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    footer h6 {
      text-decoration: uppercase;
      max-width: 20ch;
    }
    footer nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    .socials {
      display: flex;
      gap: 1rem;
      svg {
        width: 2rem;
        height: 2rem;
        stroke: currentColor;
      }
    }
    .links {
      display: flex;
      gap: 1rem;
    }
  </style>
</footer>
