---
import Button from "@components/Button.astro";
import { Image } from "astro:assets";
import carolePortrait from "../assets/carole-berotte-joseph.jpeg";
---

<section id="founder">
  <h1 class="inset heading-lg">Meet Our Founder and CEO</h1>
  <div class="inset content">
    <Image
      class="right-img"
      src={carolePortrait}
      alt="A portrait  of Dr. Carole Berotte Joseph."
      densities={[1.5, 2]}
      width="400"
      height="400"
    />
    <div class="text-cta-group">
      <p class="body-xl description">
        Dr. Joseph's distinguished career is marked by her tenure as President
        of Bronx Community College and her commitment to academic innovation and
        community partnership. Her accolades, including the “Haitian American
        Connections Award” and the “Gandhi Award for Excellence,” attest to her
        impact on education and leadership development. With Berotte Consultancy
        Associates, we extend this legacy, mentoring leaders, and fostering
        environments where ideas and potential thrive.
      </p>
      <div class="cta-group">
        <Button href="#services">Get In Touch</Button>
        <Button href="#" variant="secondary">Learn More</Button>
      </div>
    </div>
  </div>
</section>
<style>
  section {
    background-color: var(--secondary);
  }
  .heading-lg {
    color: var(--primary);
    margin-bottom: 1rem;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem clamp(1rem, 8vw, 8rem);
    container-type: inline-size;
    transform: scaleX(-1);
  }
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem;
    transform: scaleX(-1);
  }
  .text-cta-group {
    min-width: 300px;
    max-width: 96ch;
    justify-self: end;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    transform: scaleX(-1);
  }
  @media screen and (min-width: 720px) {
    .text-cta-group {
      grid-column: 2 / -1;
    }
    img {
      grid-column: 1 / 2;
    }
  }
</style>
