---
import Button from "@components/Button.astro";
import { Image } from "astro:assets";
import carolePortrait from "../assets/carole-berotte-joseph.jpeg";
---

<section id="founder">
  <div class="inset">
    <div class="content">
      <h1 class="heading-lg">Meet Our Founder and CEO</h1>
      <p class="body-xl description">
        Dr. Joseph's distinguished career is marked by her tenure as President
        of Bronx Community College and her commitment to academic innovation and
        community partnership. Her accolades, including the “Haitian American
        Connections Award” and the “Gandhi Award for Excellence,” attest to her
        impact on education and leadership development. With Berotte Consultancy
        Associates, we extend this legacy, mentoring leaders, and fostering
        environments where ideas and potential thrive.
      </p>
      <div class="cta-group">
        <Button href="#services">Get In Touch</Button>
        <Button href="#" variant="secondary">Learn More</Button>
      </div>
    </div>
    <div class="image-container">
      <Image
        src={carolePortrait}
        alt="A portrait  of Dr. Carole Berotte Joseph."
        densities={[1.5, 2]}
        width="300"
        height="400"
      />
    </div>
  </div>
</section>
<style>
  section {
    background-color: var(--secondary);
  }
  .heading-lg {
    color: var(--primary);
  }
  .inset {
    display: flex;
    gap: 4rem;
  }
  .content {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }
  .image-container {
    flex: 1 1 0;
    max-width: 50%;
  }
  img {
    width: 100%;
    height: auto;
    border: 2px solid coral;
  }
</style>
