---
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";
---

<header id="header" class="grid-container">
  <div>
    <a href="#home" aria-label="Berrote Consultancy Associates Logo">
      <Icon name="logo" />
    </a>
    <button
      id="hamburger-menu"
      aria-label="Open Menu"
      aria-expanded="false"
      aria-controls="primary-nav-links"
      aria-haspopup="true"
    >
      <Icon name="menu" class="menu-icon--open" />
      <Icon name="close" class="menu-icon--close" />
    </button>
    <nav>
      <a href="#about">About</a>
      <a href="#founder">Founder</a>
      <a href="#mission-vision">Mission</a>
      <a href="#services">Services</a>
      <a href="#articles">Articles</a>
      <Button href="#contact" className="cta">Contact</Button>
    </nav>
  </div>
</header>
<script>
  const menuButton = document.getElementById("hamburger-menu");
  const navLinks = document.querySelectorAll("#header nav a");
  menuButton?.addEventListener("click", () => {
    menuButton.setAttribute(
      "aria-expanded",
      menuButton.getAttribute("aria-expanded") === "true" ? "false" : "true",
    );
  });
  navLinks.forEach((link) => {
    link.addEventListener("click", () => {
      menuButton?.setAttribute("aria-expanded", "false");
    });
  });
</script>
<style>
  header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--secondary);
    z-index: 1000;
    padding-block: 0.5rem;
    container-type: inline-size;
  }

  header > div {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  header #header-logo {
    grid-column: 1 / 2;
    transition: all 0.5s ease-in-out;
  }

  header [data-icon="logo"] {
    width: clamp(4rem, 6vw, 6rem);
    height: clamp(4rem, 6vw, 6rem);
  }

  header.scrolled [data-icon="logo"] {
    width: 3rem;
  }

  header > div > nav {
    grid-column: 2 / -1;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    background-color: var(--secondary);
    transition: transform 0.5s ease-in-out;
    @container (max-width: 720px) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      flex-direction: column;
      justify-content: start;
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      padding-block: 6rem;
      filter: brightness(0.95);
    }
  }

  header nav a:not(.cta) {
    color: var(--primary);
    border-bottom: 2px solid transparent;
    &:hover,
    &:focus,
    &:active,
    &.active {
      border-color: var(--accent);
    }
  }

  header nav {
    /* flex-grow: 1;
      flex-direction: column;
      width: 100vw;
      color: var(--primary);
      background-color: var(--secondary);
      padding-block-end: 2rem;
      font-size: 1.5rem;
      font-weight: 300;
      gap: 4rem; */
    /* transform: translateX(100%); */
    /* transition: transform 0.5s ease-in-out;
      & > .cta {
        width: 90%;
        margin-top: auto;
      }
      & > #hamburger-menu {
        display: block;
      }
      &:has([aria-expanded="true"]) {
        transform: translateX(0);
      }
    } */
  }

  #hamburger-menu {
    --_hamburger-menu-size: 2rem;
    width: var(--_hamburger-menu-size);
    height: var(--_hamburger-menu-size);
    display: none;
    border: none;
    background-color: transparent;
    position: relative;
    justify-self: end;
    align-self: center;
    grid-column: 2 / 3;

    & > svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 75ms ease-in-out;
    }

    & > .menu-icon--open {
      opacity: 1;
    }

    & > .menu-icon--close {
      opacity: 0;
    }

    &[aria-expanded="true"] {
      .menu-icon--open {
        opacity: 0;
      }

      .menu-icon--close {
        opacity: 1;
      }
    }

    @container (max-width: 720px) {
      display: block;
      + nav {
        transform: translateX(100%);
      }
      &[aria-expanded="true"] + nav {
        transform: translateX(0);
      }
    }
  }
  body:has(#hamburger-menu[aria-expanded="true"]) {
    overflow: hidden;
  }
</style>
