---
import Logo from "@assets/logo.svg";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
---

<header id="header" class="content-grid">
  <div>
    <a href="#home">
      <Image
        src={Logo}
        alt="Berrote Consultancy Associates Logo"
        id="header-logo"
      />
    </a>
    <nav>
      <a href="#about">About</a>
      <a href="#mission">Mission</a>
      <a href="#services">Services</a>
      <a href="#press">Press</a>
      <Button href="#contact" className="cta">Contact</Button>
    </nav>
  </div>
</header>
<script>
  const logo = document.getElementById("header");
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (!logo) return;
    if (
      document.body.scrollTop > 300 ||
      document.documentElement.scrollTop > 300
    ) {
      logo.classList.add("scrolled");
    } else {
      logo.classList.remove("scrolled");
    }
  }
</script>
<style>
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary);
    padding-block: 0.5rem;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  header nav a:not(.cta) {
    color: var(--primary);
    border-bottom: 2px solid transparent;
    &:hover,
    &:focus,
    &:active,
    &.active {
      border-color: var(--accent);
    }
  }

  #header-logo {
    transition: all 0.5s ease-in-out;
    width: clamp(4rem, 6vw, 6rem);
    height: auto;
  }
  header.scrolled {
    #header-logo {
      width: 3rem;
    }
  }
</style>
