---
import Button from "@components/Button.astro";
---

<section id="home" class="grid-container">
  <div class="grid-content--inset">
    <p class="body-md tagline">Transforming learning, Enriching lives</p>
    <h1 class="display-lg headline">
      Berotte<br />Consultancy<br />Associates
    </h1>
    <p class="body-xl description">
      We support the creation and implementation of effective, student-centered,
      educational institutions.
    </p>
    <div class="cta-group">
      <Button href="#services">Explore Services</Button>
      <Button href="#services" variant="secondary">Get In Touch</Button>
    </div>
    <svg
      width="218"
      height="193"
      viewBox="0 0 218 193"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="pencil"
    >
      <path
        d="M1.5 193.185L73.3243 192L167.307 121.316L123.253 102.44L117.221 56.0339L24.3649 125.448L1.5 193.185ZM24.3649 125.448C47.0286 119.644 48.6193 142.722 39.8118 148.446C39.8118 148.446 51.8966 141.468 58.9983 151.622C65.8316 161.311 56.3848 170.174 56.3848 170.174C73.2614 162.909 84.9777 177.835 72.9578 191.902L27.2919 192.238C26.9351 190.671 26.6325 189.267 26.3594 188.001C24.0076 177.094 23.8517 176.371 10.2804 169.214L24.3649 125.448Z"
        fill="#FFD95A"></path>
      <path
        d="M73.3243 192L73.3408 193L73.6657 192.994L73.9254 192.799L73.3243 192ZM1.5 193.185L0.552523 192.865L0.0991647 194.208L1.5165 194.185L1.5 193.185ZM167.307 121.316L167.908 122.115L169.288 121.077L167.701 120.397L167.307 121.316ZM123.253 102.44L122.261 102.569L122.335 103.135L122.859 103.359L123.253 102.44ZM117.221 56.0339L118.213 55.905L117.993 54.2089L116.623 55.2329L117.221 56.0339ZM24.3649 125.448L23.7662 124.647L23.517 124.833L23.4175 125.128L24.3649 125.448ZM39.8118 148.446L39.2669 147.607L40.3118 149.312L39.8118 148.446ZM58.9983 151.622L58.1788 152.195L58.1811 152.198L58.9983 151.622ZM56.3848 170.174L55.7006 169.444L56.7802 171.092L56.3848 170.174ZM72.9578 191.902L72.9651 192.902L73.4215 192.898L73.718 192.551L72.9578 191.902ZM27.2919 192.238L26.3168 192.46L26.4953 193.244L27.2992 193.238L27.2919 192.238ZM26.3594 188.001L25.3818 188.212L25.3818 188.212L26.3594 188.001ZM10.2804 169.214L9.32851 168.908L9.0713 169.707L9.81398 170.099L10.2804 169.214ZM56.7514 170.272L55.9855 169.629L53.6353 172.428L57.0832 171.215L56.7514 170.272ZM40.2766 148.177L39.4946 147.554L40.7608 149.052L40.2766 148.177ZM73.3078 191L1.4835 192.185L1.5165 194.185L73.3408 193L73.3078 191ZM166.706 120.517L72.7233 191.201L73.9254 192.799L167.908 122.115L166.706 120.517ZM122.859 103.359L166.913 122.235L167.701 120.397L123.647 101.521L122.859 103.359ZM116.23 56.1628L122.261 102.569L124.245 102.311L118.213 55.905L116.23 56.1628ZM24.9637 126.249L117.82 56.8348L116.623 55.2329L23.7662 124.647L24.9637 126.249ZM2.44748 193.505L25.3124 125.768L23.4175 125.128L0.552523 192.865L2.44748 193.505ZM40.3568 149.284C42.8234 147.681 44.4905 144.919 45.2699 141.869C46.0513 138.811 45.9688 135.362 44.828 132.277C43.6815 129.176 41.4598 126.435 37.9881 124.876C34.5273 123.321 29.9347 122.989 24.1168 124.479L24.613 126.416C30.127 125.004 34.2321 125.381 37.1685 126.7C40.0939 128.014 41.969 130.312 42.9521 132.971C43.941 135.645 44.0213 138.676 43.3321 141.374C42.6408 144.079 41.204 146.348 39.2669 147.607L40.3568 149.284ZM59.8178 151.049C55.9952 145.584 50.78 144.728 46.6213 145.234C44.5569 145.484 42.7384 146.068 41.441 146.585C40.7903 146.844 40.2655 147.089 39.9003 147.27C39.7175 147.361 39.5744 147.436 39.475 147.489C39.4253 147.516 39.3865 147.538 39.3591 147.553C39.3454 147.56 39.3346 147.567 39.3267 147.571C39.3228 147.573 39.3195 147.575 39.3171 147.577C39.3158 147.577 39.3148 147.578 39.3139 147.578C39.3135 147.579 39.3129 147.579 39.3127 147.579C39.3123 147.579 39.3118 147.58 39.8118 148.446C40.3118 149.312 40.3115 149.312 40.3112 149.312C40.3112 149.312 40.311 149.312 40.3109 149.312C40.3108 149.312 40.3108 149.312 40.311 149.312C40.3115 149.312 40.3127 149.311 40.3145 149.31C40.3183 149.308 40.3249 149.304 40.3343 149.299C40.3531 149.288 40.3831 149.272 40.4236 149.25C40.5047 149.206 40.6281 149.142 40.7897 149.061C41.1131 148.901 41.5878 148.679 42.1811 148.443C43.3716 147.969 45.0181 147.443 46.8626 147.219C50.5216 146.774 54.8997 147.507 58.1788 152.195L59.8178 151.049ZM56.3848 170.174C57.069 170.903 57.0694 170.903 57.0697 170.902C57.0699 170.902 57.0704 170.902 57.0707 170.901C57.0714 170.901 57.0723 170.9 57.0733 170.899C57.0753 170.897 57.0779 170.895 57.081 170.892C57.0873 170.886 57.0958 170.877 57.1064 170.867C57.1277 170.847 57.1575 170.818 57.195 170.78C57.2701 170.705 57.3761 170.597 57.5069 170.458C57.7681 170.179 58.1289 169.774 58.5377 169.259C59.3529 168.231 60.3718 166.747 61.1694 164.934C62.7754 161.283 63.4888 156.254 59.8155 151.046L58.1811 152.198C61.3412 156.679 60.7478 160.926 59.3387 164.129C58.6287 165.742 57.713 167.08 56.9705 168.016C56.6005 168.483 56.2766 168.846 56.0479 169.09C55.9336 169.212 55.8434 169.304 55.7834 169.363C55.7534 169.393 55.731 169.415 55.7169 169.429C55.7099 169.436 55.7049 169.44 55.7022 169.443C55.7008 169.444 55.7 169.445 55.6997 169.445C55.6996 169.445 55.6996 169.445 55.6997 169.445C55.6998 169.445 55.7 169.445 55.7001 169.445C55.7003 169.445 55.7006 169.444 56.3848 170.174ZM73.718 192.551C79.9476 185.261 80.1997 177.481 76.2991 172.427C72.4118 167.391 64.7279 165.494 55.9894 169.255L56.7802 171.092C64.9182 167.589 71.5308 169.523 74.7158 173.649C77.8875 177.759 77.9879 184.476 72.1975 191.252L73.718 192.551ZM27.2992 193.238L72.9651 192.902L72.9504 190.902L27.2845 191.238L27.2992 193.238ZM25.3818 188.212C25.6549 189.478 25.9586 190.887 26.3168 192.46L28.2669 192.016C27.9116 190.455 27.6101 189.057 27.3369 187.79L25.3818 188.212ZM9.81398 170.099C16.6622 173.71 19.8838 175.588 21.7585 177.841C23.5976 180.051 24.1887 182.678 25.3818 188.212L27.3369 187.79C26.1784 182.417 25.5155 179.229 23.2959 176.561C21.1119 173.937 17.4699 171.875 10.7469 168.329L9.81398 170.099ZM23.413 125.141L9.32851 168.908L11.2324 169.52L25.3169 125.754L23.413 125.141ZM122.65 101.642L58.1274 150.359L59.3325 151.955L123.855 103.238L122.65 101.642ZM74.1691 192.535C79.3876 184.297 79.5726 176.905 75.8259 172.286C72.0919 167.682 64.8689 166.356 56.4195 169.329L57.0832 171.215C65.1175 168.389 71.2877 169.866 74.2726 173.546C77.2448 177.21 77.4744 183.58 72.4796 191.465L74.1691 192.535ZM57.5172 170.915C60.6724 167.157 62.0706 163.308 62.1058 159.735C62.141 156.167 60.8145 152.953 58.6558 150.475C54.3497 145.532 46.6923 143.484 39.7925 147.302L40.7608 149.052C46.7771 145.723 53.4161 147.506 57.1479 151.789C59.0081 153.924 60.1359 156.671 60.1059 159.716C60.0759 162.756 58.8894 166.17 55.9855 169.629L57.5172 170.915ZM41.0587 148.8C46.2637 142.269 47.0026 135.352 43.7125 130.396C40.4401 125.466 33.4691 122.92 24.2008 124.461L24.529 126.434C33.3546 124.966 39.3707 127.471 42.0462 131.502C44.7042 135.506 44.3521 141.459 39.4946 147.554L41.0587 148.8Z"
        fill="#1D1D1D"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M204.059 92.6604L198.126 45.8878L154.805 27.2079L117.319 55.6673L122.984 101.975L167.307 121.316L204.059 92.6604ZM175.401 77.9095C177.571 69.8114 172.766 61.4875 164.667 59.3176C156.569 57.1477 148.245 61.9535 146.075 70.0516C143.906 78.1498 148.711 86.4737 156.809 88.6436C164.908 90.8135 173.232 86.0077 175.401 77.9095Z"
        fill="#45413F"></path>
      <path
        d="M198.126 45.8878L200.11 45.6361L199.966 44.5033L198.918 44.0512L198.126 45.8878ZM204.059 92.6604L205.289 94.2377L206.186 93.5378L206.043 92.4087L204.059 92.6604ZM154.805 27.2079L155.597 25.3714L154.525 24.9093L153.596 25.615L154.805 27.2079ZM117.319 55.6673L116.11 54.0744L115.195 54.7693L115.334 55.9102L117.319 55.6673ZM122.984 101.975L120.999 102.218L121.138 103.352L122.185 103.808L122.984 101.975ZM167.307 121.316L166.507 123.149L167.598 123.625L168.536 122.894L167.307 121.316ZM196.142 46.1395L202.075 92.9121L206.043 92.4087L200.11 45.6361L196.142 46.1395ZM154.013 29.0445L197.334 47.7243L198.918 44.0512L155.597 25.3714L154.013 29.0445ZM118.529 57.2602L156.014 28.8008L153.596 25.615L116.11 54.0744L118.529 57.2602ZM124.97 101.732L119.305 55.4245L115.334 55.9102L120.999 102.218L124.97 101.732ZM168.107 119.483L123.784 100.142L122.185 103.808L166.507 123.149L168.107 119.483ZM202.829 91.0832L166.077 119.739L168.536 122.894L205.289 94.2377L202.829 91.0832ZM164.15 61.2494C171.181 63.1334 175.354 70.3607 173.47 77.3919L177.333 78.4272C179.789 69.2621 174.35 59.8415 165.185 57.3857L164.15 61.2494ZM148.007 70.5693C149.891 63.5381 157.119 59.3654 164.15 61.2494L165.185 57.3857C156.02 54.9299 146.599 60.3689 144.144 69.534L148.007 70.5693ZM157.327 86.7117C150.296 84.8277 146.123 77.6005 148.007 70.5693L144.144 69.534C141.688 78.6991 147.127 88.1197 156.292 90.5754L157.327 86.7117ZM173.47 77.3919C171.586 84.4231 164.358 88.5958 157.327 86.7117L156.292 90.5754C165.457 93.0312 174.878 87.5923 177.333 78.4272L173.47 77.3919Z"
        fill="#1D1D1D"></path>
    </svg>
    <svg
      width="505"
      height="952"
      viewBox="0 0 505 952"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="pencil-writing"
    >
      <path
        d="M241.501 951C166 803.5 19.6766 330 3.00065 461C-45.4995 842 800.536 -181.007 839 -264"
        stroke="#664C43"></path>
    </svg>
  </div>
</section>

<style>
  section {
    background-color: var(--secondary);
    /* position: relative; */
    overflow: hidden;
  }
  .grid-content--inset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }

  .headline,
  .tagline {
    text-transform: uppercase;
  }
  .tagline {
    max-width: 80vw;
    text-wrap: balance;
  }
  .description {
    max-width: 50ch;
  }
  svg.pencil {
    position: absolute;
    bottom: calc(-1 * var(--section-padding-block));
    right: 4.5rem;
    width: clamp(2rem, 16vw, 10rem);
    height: auto;
    transform: translateX(100%);
    @media screen and (max-width: 680px) {
      display: none;
    }
  }
  svg.pencil-writing {
    position: absolute;
    bottom: calc(-1 * var(--section-padding-block));
    right: 3.8rem;
    transform: translateX(50%);
    z-index: 500;
    @media screen and (max-width: 680px) {
      display: none;
    }
  }
</style>
