---
import Button from "@components/Button.astro";
---

<section id="home" class="content-grid">
  <div class="inset">
    <p class="body-md tagline">Transforming learning, Enriching lives</p>
    <h1 class="display-lg headline">
      Berotte<br />Consultancy<br />Associates
    </h1>
    <p class="body-xl description">
      We support the creation and implementation of effective, student-centered,
      educational institutions.
    </p>
    <div class="cta-group">
      <Button href="#services">Explore Services</Button>
      <Button href="#services" variant="secondary">Get In Touch</Button>
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--secondary);
  }
  .inset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .headline,
  .tagline {
    text-transform: uppercase;
  }
  .tagline {
    max-width: 80vw;
  }
  .description {
    max-width: 50ch;
  }
</style>
