---
import Button from "@components/Button.astro";
---

<section id="home">
  <h1 class="tagline">Berotte Consultancy Associates, LLC</h1>
  <p class="description">
    Supporting the creation and implementation of effective, student-centered,
    educational institutions
  </p>
  <Button className="cta" href="#services">Explore Services</Button>
</section>
<style>
  section h1.tagline {
    font-size: 1.05rem;
    font-weight: 350;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  section p.description {
    font-size: 2.5rem;
    font-weight: 350;
    max-width: 32ch;
  }
  .cta {
    margin-top: 4rem;
    padding: 0.75rem 1.5rem;
  }
</style>
