---
import Button from "@components/Button.astro";
---

<section id="home" class="full inset-content">
  <div class="banner">
    <h1 class="tagline">Berotte Consultancy Associates, LLC</h1>
    <p>
      Supporting the creation and implementation of effective, student-centered,
      educational institutions
    </p>
    <Button class="cta" href="#services">Explore Services</Button>
  </div>
</section>
<style>
  section .banner p {
    font-size: 2.5rem;
    font-weight: 350;
    margin-block-end: 1rem;
    max-width: 42ch;
  }
  section .banner h1.tagline {
    font-size: 1.05rem;
    font-weight: 350;
  }
  section .banner {
    margin-block: auto;
    max-width: 700px;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  a.cta {
    padding: 0.5rem 1.5rem;
    font-size: 1.15rem;
    font-weight: 300;
    border-radius: 8px;
    width: max-content;
    height: max-content;
  }
</style>
