<section id="mission-vision" class="content-grid">
  <div class="inset">
    <div>
      <h2 class="heading-lg mission">Mission</h2>
      <p class="body-xl">
        To steward the creation and implementation of effective,
        student-centered, educational institutions and programs through capacity
        building and programmatic accompaniment.
      </p>
    </div>
    <div>
      <h2 class="heading-lg vision">Vision</h2>
      <p class="body-xl">
        Serve as the benchmark for just, equitable, student-centered learning
        environments nationally and internationally
      </p>
    </div>
    <svg
      width="44"
      height="95"
      viewBox="0 0 44 95"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="star"
    >
      <path
        d="M21.7516 1.89204C21.6678 10.0033 21.8502 17.8402 19.9194 25.73C18.9261 29.7889 18.1603 33.7964 16.2116 37.5368C13.4332 42.8696 8.81862 49.3219 2.74798 51.2223C1.86102 51.5 -0.150584 51.6872 1.87115 51.1613C4.06461 50.5907 6.5263 50.1772 8.79278 50.0756C12.0813 49.9283 15.0005 52.1571 17.1044 54.455C20.8662 58.5637 22.6569 63.8919 23.978 69.2292C25.2995 74.5684 25.6499 79.973 26.4628 85.3926C26.7561 87.3477 27.0224 89.3084 27.223 91.2754C27.2387 91.429 27.4395 93.6309 27.1773 93.1739C25.7138 90.6235 25.6024 86.6827 25.3077 83.8578C24.8362 79.3377 25.0679 74.8093 25.5479 70.2981C25.8827 67.1511 26.1815 63.7223 27.4205 60.761C28.8972 57.2314 32.1362 54.9793 35.1851 52.6054C35.1851 52.6054 43.8439 49.0679 42.4077 47.4694C39.096 43.7837 28.6224 40.9091 26.5871 36.3093C24.2637 31.0583 23.7523 24.72 23.567 19.0504C23.3705 13.0372 22.9493 7.00072 23.3711 1"
        stroke="#FFD95A"
        stroke-width="1.90596"
        stroke-linecap="round"></path>
    </svg>
  </div>
</section>
<style>
  section {
    background-color: var(--primary);
    border-radius: 0.5rem;
  }
  .inset {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem 6rem;
    position: relative;
  }
  .mission {
    color: var(--tertiary);
  }
  .vision {
    color: var(--neutral-90);
  }
  .body-xl {
    color: var(--secondary);
    margin-block: 2rem;
    gap: 0.75rem;
  }
  .star {
    position: absolute;
    top: 0;
    right: 0;
  }
</style>
