<section id="mission" class="full inset-content">
  <div>
    <h2>Mission</h2>
    <p>
      To steward the creation and implementation of effective, student-centered,
      educational institutions and programs through capacity building and
      programmatic accompaniment.
    </p>
  </div>
  <div>
    <h2>Vission</h2>
    <p>
      Serve as the benchmark for just, equitable, student-centered learning
      environments nationally and internationally
    </p>
  </div>
</section>
